@{
    // Code: Here: View: Game
    ViewBag.Title = "Game";
}

@section scripts {
    <script src="~/Scripts/jquery.signalR-2.2.0.min.js"></script>
    <script src="~/signalr/hubs"></script>
    <script src="~/TypeScripts/GameHub/GameHub.js"></script>
}


@*
<img src="~/Content/Game.Sample.png" />
@GameView.GameChat()
*@

<div id="content"></div>

